# 📦 Dependencias de Node 
node_modules/

# 🔐 Variables de entorno
.env
.env.*.local
# No ignorar .env.example para compartir el ejemplo
!.env.example

# 📁 Prisma: ignora migraciones locales si no quieres compartirlas
prisma/migrations/

# 🧹 Archivos de sistema
.DS_Store
Thumbs.db

# 📄 Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# 🗂 Archivos de respaldo
*.bak
*.old
*.orig

# 🚀 Salida de producción 
dist/
build/

# 💡 Archivos de configuración del IDE
.vscode/
.idea/

# 🧪 Cobertura de tests 
coverage/
