@tailwind base;
@tailwind components;
@tailwind utilities;

/* Altura a pantalla completa para toda la app */
html,
body,
#root {
  height: 100%;
}

/* Base UI */
body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, "Helvetica Neue", Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
  background: #f9fafb;
  color: #111827;
}
